<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Edit Account Info</title>
</head>
<body>
    <!-- NAVIGATION BAR BEGINS -->
    <div class="topnav">
            <a class="active" href="/logout">Logout</a>
            <a class="#news" href="/create">Create Job</a>
            <a class="#contact" href='/'>Dashboard</a>
            <!-- <a href="#about">About</a> -->
        </div>
        <h1>Edit Your Account, {{request.session.fname}}!</h1>
        <br><br>
        <!-- NAV BAR ENDS -->
    
    
</body>
</html>